
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="float-end">
                <img src="assets/about/about.jpg.webp" class="img-fluid" alt="Dental Clinic Image" style="height: 700px;width: 700px;"w>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-5 ms-3">
                <p style="font-family: 'Times New Roman', Times, serif; font-weight: bold;" class="text-info">
                    WELCOME TO OUR DENTAL CLINIC
                </p>
                <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: bold; padding-top: 10px;">
                    Toothcare is a Dental Clinic and <br>
                    Innovative Approach to Treatment
                </h2>
                <p class="text-muted" style="padding-top: 20px;">
                    Far far away, behind the word mountains, far from the countries Vokalia and <br>
                    Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at <br>
                    the coast of the Semantics, a large language ocean.
                </p>
                <div class="row" style="padding-top: 20px;">
                    <div class="col-md-4 mb-3">
                        <div class="border border-info text-center rounded-3 pt-3 pb-3">
                            <span style="font-size: 50px;" class="float-start text-info">
                                <i class="fa-regular fa-face-smile ps-3"></i>
                            </span>
                            <span class="text-muted">
                                3000,<br>
                                HAPPY <br>
                                PATIENTS
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="border border-info text-center pb-3 pt-3">
                            <span class="float-start ps-3 text-info rounded-3" style="font-size: 50px;">
                                <i class="fa-solid fa-tooth"></i>
                            </span>
                            <span class="text-muted">
                                2,200 <br>
                                PERFORMED <br>
                                TREATMENTS
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="border border-info text-center rounded-3 pb-3 pt-3">
                            <span class="float-start ps-3 text-info" style="font-size: 50px;">
                                <i class="fa-solid fa-calendar-days"></i>
                            </span>
                            <span class="text-muted">
                                24 <br>
                                YEAR OF <br>
                                EXPERIENCED
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
