<div class="container-fluid text-right text-light p-5" style="height: 400px; background-color: DarkTurquoise; margin-top: 100px;">
    <div class=" row row-cols-1 row-cols-sm-2 row-cols-md-5">
      <div class="col  mt-3">
        <h3 style="font-weight: bold;">TOOTHCARE</h3>
        <p style="font-size: 13px;">DENTAL CLINIC SERVICES</p>
        <p class="mt-5">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        <i class="fa-brands fa-twitter bg-primary ms-2" style="border-radius: 50%; color: aliceblue;padding: 10px;" ></i>
        <i class="fa-brands fa-facebook-f bg-primary ms-2" style="border-radius: 50%; color:aliceblue;padding: 10px;"></i>
        <i class="fa-brands fa-instagram bg-primary ms-2" style="border-radius: 50%; color: aliceblue;padding: 10px;"></i>
      </div>
      <div class="col">
        <h5>Services</h5>
        <ul class="list-unstyled mt-3">
          <li><i class="fas fa-arrow-right p-2"></i> Tooth Protection</li>
          <li><i class="fas fa-arrow-right p-2"></i> Dental Implants</li>
          <li><i class="fas fa-arrow-right p-2"></i> Dental Care</li>
          <li><i class="fas fa-arrow-right p-2"></i> Teeth Whitening</li>
          <li><i class="fas fa-arrow-right p-2"></i> Dental Calculus</li>
        </ul>
      </div>
      <div class="col">
        <h5>Quick Links</h5>
        <ul class="list-unstyled mt-3">
          <li><i class="fas fa-arrow-right p-2"></i> Home</li>
          <li><i class="fas fa-arrow-right p-2"></i> About</li>
          <li><i class="fas fa-arrow-right p-2"></i> Services</li>
          <li><i class="fas fa-arrow-right p-2"></i> Dentists & Conditions</li>
          <li><i class="fas fa-arrow-right p-2"></i> Blog</li>
          <li><i class="fas fa-arrow-right p-2"></i> Contact</li>
        </ul>
      </div>
      <div class="col">
        <h5 >Recent Posts</h5>
        <div class="mt-3">
          <img src="assets/blog/image_1.jpg.webp" style="width: 60px; height: 50px; margin-right: 15px;">
          <span style="font-size: 13px;"><i class="fas fa-calendar-days p-2"></i> JAN.20, 2024</span>
          <span style="font-size: 13px;"><i class="fas fa-user p-2"></i> Admin</span>
          <p style="margin-left: 80px; margin-top: -16px;">Creativity and Inspiration</p>
        </div>
        <div >
          <img src="assets/blog/image_2.jpg.webp" style="width: 60px; height: 50px; margin-right: 15px;">
          <span style="font-size: 13px;"><i class="fas fa-calendar-days p-2"></i> JAN.20, 2024</span>
          <span style="font-size: 13px;"><i class="fas fa-user p-2"></i> Admin</span>
          <p style="margin-left: 80px; margin-top: -16px;">Creativity and Inspiration</p>
        </div>
        <div>
          <img src="assets/blog/image_3.jpg.webp" style="width: 60px; height: 50px; margin-right: 15px;">
          <span style="font-size: 13px;"><i class="fas fa-calendar-days p-2"></i> JAN.20, 2024</span>
          <span style="font-size: 13px;"><i class="fas fa-user p-2"></i> Admin</span>
          <p style="margin-left: 80px; margin-top: -16px;">Creativity and Inspiration</p>
        </div>
      </div>
      <div class="col">
        <h5>Have a Question?</h5>
        <p><i class="fas fa-map p-2 mt-3"></i> 203 Fake St. Mountain View, San <br>Francisco, California, USA</p>
        <p><i class="fas fa-phone p-2"></i> +2 392 3929 210</p>
        <p><i class="fas fa-paper-plane p-2"></i> info@yourdomain.com</p>
      </div>
    </div>
  </div>
  