<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 bg-info ps-5">
            <div>
                <h6 class="mt-5 text-light text-center" style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">WE ARE HERE FOR YOU</h6>
                <h3 class="text-light text-center" style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">Make An Appointment</h3>
                <form class="mt-5">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="text-light font-weight-bold">YOUR FULL NAME</label><br>
                            <input type="text" class="bg-info form-control" style="border-bottom: 1px solid white; width: 100%;" placeholder="Your Full name">
                            <br>
                            <label class="text-light font-weight-bold">PHONE NUMBER</label><br>
                            <input type="text" class="bg-info form-control" style="border-bottom: 1px solid white; width: 100%;" placeholder="Your Phone Number">
                            <br>
                            <label class="text-light font-weight-bold">APPOINTMENT TIME</label><br>
                            <input type="time" class="bg-info form-control" style="border-bottom: 1px solid white; width: 100%;"><br>
                            <label class="text-light font-weight-bold">MESSAGE</label><br>
                            <textarea class="bg-info form-control" id="" cols="30" rows="5" style="border-bottom: 1px solid white; width: 100%;" placeholder="MESSAGE"></textarea>
                            <div class="mt-3 text-center">
                                <button type="button" style="width: 100%; height: 50px; border-radius: 5px;" class="border-0 bg-light text-info">SEND MESSAGE</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="text-light font-weight-bold">EMAIL ADDRESS</label><br>
                            <input type="text" class="bg-info form-control" style="border-bottom: 1px solid white; width: 100%;" placeholder="Email">
                            <br>
                            <label class="text-light font-weight-bold">APPOINTMENT DATE</label><br>
                            <input type="date" class="bg-info form-control" style="border-bottom: 1px solid white; width: 100%;">
                            <br>
                            <label class="text-light font-weight-bold">SELECT A DOCTOR</label><br>
                            <select class="bg-info form-control text-muted" style="border-bottom: 1px solid white; width: 100%;">
                                <option class="p-2">Dr. Lloyd Wilson</option>
                                <option class="p-2">Dr. Rachel Parker</option>
                                <option class="p-2">Dr. Ian Smith</option>
                                <option class="p-2">Dr. Alicia Henderson</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="col-md-6" style="background-color:whitesmoke;">
            <h6 class="text-info mt-5 ms-4">LEARN ANYTHING</h6>
            <h1 class="ms-4">We Offer Best Dental Services</h1>
        
            <div class="row m-5 p-4  book bg-light bg-info-hover text-light-hover" >
                <div class="col-sm-1">
                    <i class="fa-solid fa-display  text-info icon-hover" style="font-size: 50px;"></i>
                </div>
                <div class="col-sm-8">
                    <h5>Easy Booking</h5>
                    <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
        
            <div class="row m-5 p-4 bg-light  bg-info-hover text-light-hover">
                <div class="col-sm-1">
                    <i class="fa-solid fa-user-doctor text-info icon-hover" style="font-size: 50px;"></i>
                </div>
                <div class="col-sm-8">
                    <h5>Team Dentist</h5>
                    <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="row m-5 p-4 bg-light Price bg-info-hover text-light-hover">
                <div class="col-sm-1">
                    <i class="fa-solid fa-hand-holding-dollar text-info icon-hover" style="font-size: 50px;"></i>
                </div>
                <div class="col-sm-8">
                    <h5 >Best Price Guarantee</h5>
                    <p class="text-muted">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            
        </div>
        
                       
    </div>
</div>
