input {
    border: none;
    border-bottom: 1px solid #000; 
    outline: none;
}
.bg-info-hover:hover {
    background-color: #17a2b8 !important; /* Update the color as needed */
}

.text-light-hover:hover {
    color: #fff !important; /* Update the color as needed */
}
.icon-hover:hover {
    color: #fff !important; /* Update the color as needed */
}


