<div class="container-fluid ">
    <div class="row bg-dark">
<div class="col">
<span style="font-size: 30px;color: white;">TOOTHCARE</span> <span style="color: green; font-size: 50px;">.</span>
</div>
    </div>

</div>

<div class="container ">
    <div class="row pt-4">
        <div class="col-md-3 mb-3">
            <h2 class="text-info">TOOTHCARE</h2>
            <p class="text-muted" style="font-family: 'Times New Roman', Times, serif; font-weight: bolder;">DENTAL CLINIC SERVICE</p>
        </div>
        <div class="col-md-3 mb-3">
            <div class="row align-items-center">
                <div class="col-3">
                    <i class="fa-regular fa-clock text-info" style="font-size: 40px;"></i>
                </div>
                <div class="col-9">
                    <span class="text-info d-block">Monday-Friday</span>
                    <span class="text-muted d-block" style="font-family: 'Times New Roman', Times, serif; font-weight: bolder;">8:00AM-8:00PM</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-3">
            <div class="row align-items-center">
                <div class="col-3">
                    <i class="fa-solid fa-phone text-info" style="font-size: 30px;"></i>
                </div>
                <div class="col-9">
                    <span class="text-info d-block">Call Us</span>
                    <span class="text-muted d-block" style="font-family: 'Times New Roman', Times, serif; font-weight: bolder;">+2 392 3976 210</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="row align-items-center">
                <div class="col-3">
                    <i class="fa-solid fa-location-dot text-info" style="font-size: 30px;"></i>
                </div>
                <div class="col-9">
                    <span class="text-info d-block">Location</span>
                    <span class="text-muted d-block" style="font-family: 'Times New Roman', Times, serif; font-weight: bolder;">California, USA</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="background-color: Gainsboro;">
        <div class="col-md-8">
            <div class="d-flex justify-content-center text-center p-4" style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
                <a href="#" class="p-2 text-decoration-none">Home</a>
                <a href="#" class="p-2 text-decoration-none text-muted">Dentist</a>
                <a href="#" class="p-2 text-decoration-none text-muted">About</a>
                <a href="#" class="p-2 text-decoration-none text-muted">Service</a>
                <a href="#" class="p-2 text-decoration-none text-muted">Pricing</a>
                <a href="#" class="p-2 text-decoration-none text-muted">Blog</a>
                <a href="#" class="p-2 text-decoration-none text-muted">Contact</a>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center text-center">
            <button class="p-3 border-0 bg-info" style="font-family: 'Times New Roman', Times, serif; font-weight: bold; color: aliceblue;">MAKE AN APPOINTMENT</button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="background-image: url('assets/slide/image2.webp'); background-size: auto; background-position: center; height: 400px; background-attachment: fixed;">

        <div class="col-md-12 col-sm-12 position-relative" style="background-color: rgba(0, 0, 0, 0.2); height: 100%;justify-content: center;text-align: center;padding-top: 300px;">
          <span class="text-light fw-bold " >HOME <i class="fa-solid fa-greater-than fw-bold"></i></span>
          <span class="text-light fw-bold ps-3">CONTACT US <i class="fa-solid fa-greater-than fw-bold"></i></span><br>
          <h2 class="text-light fs-1">Contact us</h2>
        </div>
    
    </div>
    
</div>
<!-- contact form -->
<div class="container-fluid " style="background-color: Gainsboro;">
    <div class="container w-50 p-5 bg-light">
   <h5 class="pt-5 fs-4">     contact us</h5>
   <p class="text-muted">We're open for any suggestion or just to have a chat</p>
<div class="row">

    <div class="col-md-4">
        <p class="fw-bold">ADDRESS:</p>
        <p class="text-muted">198 West 21th Street, Suite 721 New York NY 10016</p>
    </div>
    <div class="col-md-4">
        <p class="fw-bold">EMAIL:</p>
        <p class="text-info">info@yoursite.com</p>
    </div>
    <div class="col-md-4">
        <p>
            PHONE:

        </p>
        <p class="text-info">
            + 1235 2355 98
        </p>
    </div>
</div>

<!-- second row -->
<div class="row">
    <div class="col">
        <input type="text" placeholder="Name">
    </div>
    <div class="col">
        <input type="text" placeholder="Email">
    </div>
    <div class="col">
        <input type="text" placeholder="Subject">
    </div>

</div>
<div class="row mt-3">
    <textarea name="" id="" cols="30" rows="5" class="text-muted">
        Create a message here
    </textarea>
</div>
<div class="row mt-4">
   <div class="col-3 ">
    <button class="bg-info text-light p-2" style="border: none;">SEND MESSAGE</button>
   </div>
</div>
<div class="row mt-4">
    <h4>Follow us here</h4>
    <div class="col">
        <i class="fa-brands fa-facebook p-2 text-light bg-info" style="border-radius: 50%;"></i>
        <i class="fa-brands fa-instagram p-2 bg-info ms-2" style="color: #e4405f;border-radius: 50%;"></i>
        <i class="fab fa-twitter ms-2 p-2 text-light bg-info" style="border-radius: 50%;"></i>

        <i class="fa-brands fa-dribbble ms-2 p-2 bg-info text-light" style="border-radius: 50%;"></i>
    </div>
  
</div>   
</div>
   

</div>

<app-end></app-end>