button{
    border: none;
    text-align: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-weight: bold;

}
ul{
    list-style: none;
}
.col-md-3{
    height: 600px; 
    
}

.col-md-3:hover{
background-color:white;

}
