<div class="container-fluid p-4" style="background-color: Gainsboro;">
  <div class="container">
    <div class="text-center" style="margin-top: 80px;">
      <h6 style="color: DodgerBlue;">SERVICE</h6>
      <h1>Toothcare Service</h1>
  </div><br><br>

  <div class="container row row-cols-1 row-cols-md-2 row-cols-lg-4 p-3 justify-content-center">
      <div class="col mb-3"*ngFor="let t of tooth" style="justify-content: center;text-align: center;">
          <div class="card align-items-center image1 shadow-sm border border-light" style="width: 100%;">
              <img [src]="t.image" class="card-img-top" style="width: 100px; height: 100px; border-radius: 50%; background-color: DodgerBlue; margin-top: 20px;">
              <div class="card-body mt-4">
                  <h5 class="card-title text-center">{{t.title}}</h5>
                  <p class="card-text text-center">{{t.contant}}</p>
              </div>
          </div>
      </div>
      <!-- Repeat the above structure for each item in the 'tooth' array -->
  </div>
  </div>
</div>
