<div class="container-fluid">
    <div class="row pt-4 ">
        <div class="col-md-4 col-sm-12 ">
            <h2 class="ps-5 text-info" >TOOTHCARE</h2>
            <p class="ps-5 text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bolder;">DENTAL CLINIC SERVICE</p>
        </div>
        <div class="col-md-2 col-sm-6">
            <i class="fa-regular fa-clock float-start text-info" style="font-size: 50px;padding-left: 100px;"></i>
           <div class="float-end">
            <h6 class="text-info">Monday-Friday</h6>
            <span class=" text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bolder;">8:00AM-8:00PM</span>
           </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <i class="fa-solid fa-phone float-start text-info" style="font-size: 50px;padding-left: 110px;"></i>
            <div class="float-end">
                <h6 class="text-info">Call Us</h6>
            <span  class=" text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bolder;">+2 392 3976 210</span>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <i class="fa-solid fa-location-dot float-start text-info" style="font-size: 50px;padding-left: 125px;"></i>
           <div class="float-end">
            <h6 class="text-info">Location</h6>
            <span  class=" text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bolder;">California, USA</span>
           </div>
        </div>
    </div>
</div>
