<div class="container">
    <div class="row pt-4">
        <div class="col-md-3 mb-3">
            <h2 class="text-info">TOOTHCARE</h2>
            <p class="text-muted" style="font-family: 'Times New Roman', Times, serif; font-weight: bolder;">DENTAL CLINIC SERVICE</p>
        </div>
        <div class="col-md-3 mb-3">
            <div class="row align-items-center">
                <div class="col-3">
                    <i class="fa-regular fa-clock text-info" style="font-size: 40px;"></i>
                </div>
                <div class="col-9">
                    <span class="text-info d-block">Monday-Friday</span>
                    <span class="text-muted d-block" style="font-family: 'Times New Roman', Times, serif; font-weight: bolder;">8:00AM-8:00PM</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-3">
            <div class="row align-items-center">
                <div class="col-3">
                    <i class="fa-solid fa-phone text-info" style="font-size: 30px;"></i>
                </div>
                <div class="col-9">
                    <span class="text-info d-block">Call Us</span>
                    <span class="text-muted d-block" style="font-family: 'Times New Roman', Times, serif; font-weight: bolder;">+2 392 3976 210</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="row align-items-center">
                <div class="col-3">
                    <i class="fa-solid fa-location-dot text-info" style="font-size: 30px;"></i>
                </div>
                <div class="col-9">
                    <span class="text-info d-block">Location</span>
                    <span class="text-muted d-block" style="font-family: 'Times New Roman', Times, serif; font-weight: bolder;">California, USA</span>
                </div>
            </div>
        </div>
    </div>
</div>
