<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="dual-background" style="background-image: url('assets/slide/image.webp'); height: 700px;">
            <div class="w-50  h-100 back" style="padding-left: 300px; padding-top: 150px;" >
                <p style="font-size: 50px;font-family: 'Times New Roman', Times, serif; font-weight: bold; color: white;">
                    Dentist Service <br>
                    that You Can Trust
                </p><br>
                <p class="text-muted" style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
                    Far far away, behind the word mountains, far from the countries Vokalia <br>
                     and Consonantia, there live the blind texts.
                </p>
                <span>
                    <button class="p-2 border-0 bg-info text-light" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;" >
                       SEE OUR SERVICE  <i class="fa-solid fa-arrow-right ps-2"></i>
                    </button>
                    <button class="ms-4 p-2 border-0 text-info bg-light" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">
                        VIEW COURSE <i class="fa-solid fa-arrow-right ps-2"></i>
                      
                    </button>
                </span>
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="dual-background" style="background-image: url('assets/slide/image2.webp'); height: 700px;">
            <div class="w-50  h-100 back" style="padding-left: 300px; padding-top: 150px;" >
                <p  style="font-size: 50px;font-family: 'Times New Roman', Times, serif; font-weight: bold; color: white;">
                    A Brighter Dental <br>
                     Experienced
                </p><br>
                <p class="text-muted" style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
                    Far far away, behind the word mountains, far from the countries Vokalia <br>
                    and Consonantia, there live the blind texts.
                </p>

                <span>
                    <button class="p-2 border-0 bg-info text-light" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;" >
                      MAKE AN APPOINTMENT  <i class="fa-solid fa-arrow-right ps-2"></i>
                     </button>
                     <button class="ms-4 p-2 border-0 text-info bg-light" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">
                         VIEW COURSE <i class="fa-solid fa-arrow-right ps-2"></i>
                       
                     </button>
                </span>

            </div>
            </div>
        </div>
    </div>
</div>
