<app-start></app-start>
<app-navi></app-navi>
<!-- navi2 -->

<div class="container-fluid">
  <div class="row" style="background-color: Gainsboro;">
      <div class="col-md-8">
          <div class="d-flex justify-content-center text-center p-4" style="font-family: 'Times New Roman', Times, serif; font-weight: bold;">
              <a href="#" class="p-2 text-decoration-none">Home</a>
              <a routerLink="dentist" class="p-2 text-decoration-none text-muted">Dentist</a>
              <a routerLink="about" class="p-2 text-decoration-none text-muted">About</a>
              <a routerLink="service" class="p-2 text-decoration-none text-muted">Service</a>
              <a routerLink="pricing" class="p-2 text-decoration-none text-muted">Pricing</a>
              <a routerLink="log" class="p-2 text-decoration-none text-muted">Blog</a>
              <a routerLink="contact" class="p-2 text-decoration-none text-muted">Contact</a>
          </div>
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-center text-center">
          <button class="p-3 border-0 bg-info" style="font-family: 'Times New Roman', Times, serif; font-weight: bold; color: aliceblue;">MAKE AN APPOINTMENT</button>
      </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row" style="background-image: url('assets/slide/image2.webp'); background-size: auto; background-position: center; height: 400px; background-attachment: fixed;">

        <div class="col-md-12 col-sm-12 position-relative" style="background-color: rgba(0, 0, 0, 0.2); height: 100%;justify-content: center;text-align: center;padding-top: 300px;">
          <span class="text-light fw-bold " >HOME <i class="fa-solid fa-greater-than fw-bold"></i></span>
          <span class="text-light fw-bold ps-3">CONTACT US <i class="fa-solid fa-greater-than fw-bold"></i></span><br>
          <h2 class="text-light fs-1">Blog us</h2>
        </div>
    
    </div>
    
</div>
<!-- blog -->


<div class="container">
  <div class="row mt-5">
    <div class="col-md-4">
      <img src="assets/blog/image_1.jpg.webp" alt="image1" class="img-fluid">
      <div class="mt-2">
       <span class="ps-2"> <i class="fa-solid fa-user text-info"></i><span class="ps-1 text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">ADMIN</span></span>
       <span class="ps-2"> <i class="fa-solid fa-calendar-days text-info"></i><span class="ps-1 text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">JAN.20,2021</span></span>
       <span class="ps-2"> <i class="fa-solid fa-user text-info"></i><span class="ps-1 text-info" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;"> 3 COMMENTS</span></span>
      </div>
      <!-- text content -->
      <div class="fw-bold mt-2" style="font-family: 'Times New Roman', Times, serif;font-size: 20px;">
        How to keep your teeth always in the best condition
      </div>
      <!-- text-muted -->
      <div class="text-muted mt-2">
        A small river named Duden flows by their place and supplies it with the necessary regelialia.
      </div>
    </div>
    <div class="col-md-4">
      <img src="assets/blog/image_2.jpg.webp" alt="image2" class="img-fluid">
      <div class="mt-2">
        <span class="ps-2"> <i class="fa-solid fa-user text-info"></i><span class="ps-1 text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">ADMIN</span></span>
        <span class="ps-2"> <i class="fa-solid fa-calendar-days text-info"></i><span class="ps-1 text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">JAN.20,2021</span></span>
        <span class="ps-2"> <i class="fa-solid fa-user text-info"></i><span class="ps-1 text-info" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;"> 3 COMMENTS</span></span>
       </div>
         <!-- text content -->
      <div class="fw-bold mt-2" style="font-family: 'Times New Roman', Times, serif;font-size: 20px;">
        How to keep your teeth always in the best condition
      </div>
      <!-- text-muted -->
      <div class="text-muted mt-2">
        A small river named Duden flows by their place and supplies it with the necessary regelialia.
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="search" placeholder="search" class="form-control border-5">
        <span class="input-group-text ms-2">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <div class="mt-2">
        <h4>Our service</h4>
      </div>
      <div class="icon mt-2">
        <i class="fa-solid fa-arrow-right text-info"></i> <span class="ps-2">Tooth Protection</span><br><br>
        <i class="fa-solid fa-arrow-right text-info"></i> <span class="ps-2">Dental Implants</span><br><br>
        <i class="fa-solid fa-arrow-right text-info"></i> <span class="ps-2">Dental Care</span><br><br>
        <i class="fa-solid fa-arrow-right text-info"></i> <span class="ps-2">Teeth Whitening</span><br><br>
        <i class="fa-solid fa-arrow-right text-info"></i> <span class="ps-2">Dental Calculus</span><br><br>
        <i class="fa-solid fa-arrow-right text-info"></i> <span class="ps-2">Tooth Removal</span><br><br>
        <i class="fa-solid fa-arrow-right text-info"></i> <span class="ps-2">Removal of Tartar</span><br><br>
        <i class="fa-solid fa-arrow-right text-info"></i> <span class="ps-2">Tooth Inspection</span>
     
      </div>
    </div>
  </div>
  <!-- second row -->
  <div class="row mt-2">
    <div class="col-md-4">
      <img src="assets/blog/image_3.jpg.webp" alt="image1" class="img-fluid">
      <div class="mt-2">
       <span class="ps-2"> <i class="fa-solid fa-user text-info"></i><span class="ps-1 text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">ADMIN</span></span>
       <span class="ps-2"> <i class="fa-solid fa-calendar-days text-info"></i><span class="ps-1 text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">JAN.20,2021</span></span>
       <span class="ps-2"> <i class="fa-solid fa-user text-info"></i><span class="ps-1 text-info" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;"> 3 COMMENTS</span></span>
      </div>
      <!-- text content -->
      <div class="fw-bold mt-2" style="font-family: 'Times New Roman', Times, serif;font-size: 20px;">
        How to keep your teeth always in the best condition
      </div>
      <!-- text-muted -->
      <div class="text-muted mt-2">
        A small river named Duden flows by their place and supplies it with the necessary regelialia.
      </div>
    </div>
    <!-- second col -->
    <div class="col-md-4">
      <img src="assets/blog/image_4.jpg.webp" alt="image1" class="img-fluid">
      <div class="mt-2">
       <span class="ps-2"> <i class="fa-solid fa-user text-info"></i><span class="ps-1 text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">ADMIN</span></span>
       <span class="ps-2"> <i class="fa-solid fa-calendar-days text-info"></i><span class="ps-1 text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">JAN.20,2021</span></span>
       <span class="ps-2"> <i class="fa-solid fa-user text-info"></i><span class="ps-1 text-info" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;"> 3 COMMENTS</span></span>
      </div>
      <!-- text content -->
      <div class="fw-bold mt-2" style="font-family: 'Times New Roman', Times, serif;font-size: 20px;">
        How to keep your teeth always in the best condition
      </div>
      <!-- text-muted -->
      <div class="text-muted mt-2">
        A small river named Duden flows by their place and supplies it with the necessary regelialia.
      </div>
    </div>
    <!-- 2 row 3 col -->
    <div class="col-md-4">
<h3 class="mt-2 fw-bold">Recent Blog</h3>
<!-- 3 col row 1 -->
<div class="row">
<!-- 3 col row 1 col 1 -->
<div class="col-sm-4">
  <img src="assets/blog/image_2.jpg.webp" alt="image1" class="img-fluid">
</div>
<!-- 3 col row 1 col 2 -->
<div class="col-sm-8">
<!-- 3 col row 1 col 2  row 1 -->
<div class="row">
<p style="font-family: 'Times New Roman', Times, serif;color: black;font-size: 20px;">
  How to keep your teeth always in the best condition
</p>
</div>
<!-- 3 col row 1 col 2  row 2 -->
<div>
  <span> <i class="fa-solid fa-user text-info"></i><span class="ps-1 text-muted" style="font-weight: bold;font-size: 10px;">ADMIN</span></span>
        <span class="ps-1"> <i class="fa-solid fa-calendar-days text-info"></i><span class="ps-1 text-muted" style="font-size: 10px;font-weight: bold;">JAN.20,2021</span></span>
        <span class="ps-1"> <i class="fa-solid fa-user text-info"></i><span class="ps-1 text-info" style="font-size: 10px;font-weight: bold;"> 3 COMMENTS</span></span>
      
</div>
</div>
<!-- 3 col row 2 -->
<div class="row mt-2">
  <!-- 3 col row 1 col 1 -->
  <div class="col-sm-4">
    <img src="assets/blog/image_1.jpg.webp" alt="image1" class="img-fluid">
  </div>
  <!-- 3 col row 1 col 2 -->
  <div class="col-sm-8">
  <!-- 3 col row 1 col 2  row 1 -->
  <div class="row ps-2">
  <p style="font-family: 'Times New Roman', Times, serif;color: black;font-size: 20px;">
    How to keep your teeth always in the best condition
  </p>
  </div>
  <!-- 3 col row 1 col 2  row 2 -->
  <div>
    <span class="ps-2"> <i class="fa-solid fa-user text-info"></i><span class="ps-1 text-muted" style="font-weight: bold;font-size: 10px;">ADMIN</span></span>
          <span class="ps-1"> <i class="fa-solid fa-calendar-days text-info"></i><span class="ps-1 text-muted" style="font-size: 10px;font-weight: bold;">JAN.20,2021</span></span>
          <span class="ps-1"> <i class="fa-solid fa-user text-info"></i><span class="ps-1 text-info" style="font-size: 10px;font-weight: bold;"> 3 COMMENTS</span></span>
        
  </div>
  </div>
<!-- 3 col row 3 -->

  <div class="row mt-2">
    <!-- 3 col row 1 col 1 -->
    <div class="col-sm-4">
      <img src="assets/blog/image_3.jpg.webp" alt="image1" class="img-fluid">
    </div>
    <!-- 3 col row 1 col 2 -->
    <div class="col-sm-8">
    <!-- 3 col row 1 col 2  row 1 -->
    <div class="row ps-2">
    <p style="font-family: 'Times New Roman', Times, serif;color: black;font-size: 20px;">
      How to keep your teeth always in the best condition
    </p>
    </div>
    <!-- 3 col row 1 col 2  row 2 -->
    <div>
      <span class="ps-2"> <i class="fa-solid fa-user text-info"></i><span class="ps-1 text-muted" style="font-weight: bold;font-size: 10px;">ADMIN</span></span>
            <span class="ps-1"> <i class="fa-solid fa-calendar-days text-info"></i><span class="ps-1 text-muted" style="font-size: 10px;font-weight: bold;">JAN.20,2021</span></span>
            <span class="ps-1"> <i class="fa-solid fa-user text-info"></i><span class="ps-1 text-info" style="font-size: 10px;font-weight: bold;"> 3 COMMENTS</span></span>
          
    </div>
    </div>
    <div class="row mt-5">
<h3 class="fw-bold">Tag Cloud</h3>
<p class=" text-info fw-bold custom-word-spacing" style="font-size: 15px; font-family: 'Times New Roman', Times, serif;">
  TOOTH CARE DENTIST DENTAL CLEAN IMPLANT CALCULUS REMOVAL TARTAR
</p>
    </div>
</div>
    </div>  
  </div>
  
</div>
<!-- container 2 -->
<div class="container">
  <div class="row mt-5">
    <!-- First Column -->
    <div class="col-md-4">
      <img src="assets/blog/image_5.jpg.webp" alt="image1" class="img-fluid">
      <div class="mt-2">
        <span class="ps-2"><i class="fa-solid fa-user text-info"></i><span class="ps-1 text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">ADMIN</span></span>
        <span class="ps-2"><i class="fa-solid fa-calendar-days text-info"></i><span class="ps-1 text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">JAN.20,2021</span></span>
        <span class="ps-2"><i class="fa-solid fa-user text-info"></i><span class="ps-1 text-info" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">3 COMMENTS</span></span>
      </div>
      <!-- Text Content -->
      <div class="fw-bold mt-2" style="font-family: 'Times New Roman', Times, serif;font-size: 20px;">
        How to keep your teeth always in the best condition
      </div>
      <!-- Text-muted -->
      <div class="text-muted mt-2">
        A small river named Duden flows by their place and supplies it with the necessary regelialia.
      </div>
    </div>

    <!-- Second Column -->
    <div class="col-md-4">
      <img src="assets/blog/image_6.jpg.webp" alt="image1" class="img-fluid">
      <div class="mt-2">
        <span class="ps-2"><i class="fa-solid fa-user text-info"></i><span class="ps-1 text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">ADMIN</span></span>
        <span class="ps-2"><i class="fa-solid fa-calendar-days text-info"></i><span class="ps-1 text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">JAN.20,2021</span></span>
        <span class="ps-2"><i class="fa-solid fa-user text-info"></i><span class="ps-1 text-info" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">3 COMMENTS</span></span>
      </div>
      <!-- Text Content -->
      <div class="fw-bold mt-2" style="font-family: 'Times New Roman', Times, serif;font-size: 20px;">
        How to keep your teeth always in the best condition
      </div>
      <!-- Text-muted -->
      <div class="text-muted mt-2">
        A small river named Duden flows by their place and supplies it with the necessary regelialia.
      </div>
    </div>
    <!-- third column -->

    <div class="col-md-4">
<h4 style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">Paragraph</h4>

<div class="mt-5 text-muted">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!


</div>
    </div>
  </div>
  <!-- third row -->
  <div class="row mt-5">
<div class="col-md-4">
  <img src="assets/blog/image_7.jpg.webp" alt="image1" class="img-fluid">
  <div class="mt-2">
    <span class="ps-2"><i class="fa-solid fa-user text-info"></i><span class="ps-1 text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">ADMIN</span></span>
    <span class="ps-2"><i class="fa-solid fa-calendar-days text-info"></i><span class="ps-1 text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">JAN.20,2021</span></span>
    <span class="ps-2"><i class="fa-solid fa-user text-info"></i><span class="ps-1 text-info" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">3 COMMENTS</span></span>
  </div>
  <!-- Text Content -->
  <div class="fw-bold mt-2" style="font-family: 'Times New Roman', Times, serif;font-size: 20px;">
    How to keep your teeth always in the best condition
  </div>
  <!-- Text-muted -->
  <div class="text-muted mt-2">
    A small river named Duden flows by their place and supplies it with the necessary regelialia.
  </div>
</div>
<div class="col-md-4">
  <img src="assets/blog/image_8.jpg.webp" alt="image1" class="img-fluid">
  <div class="mt-2">
    <span class="ps-2"><i class="fa-solid fa-user text-info"></i><span class="ps-1 text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">ADMIN</span></span>
    <span class="ps-2"><i class="fa-solid fa-calendar-days text-info"></i><span class="ps-1 text-muted" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">JAN.20,2021</span></span>
    <span class="ps-2"><i class="fa-solid fa-user text-info"></i><span class="ps-1 text-info" style="font-family: 'Times New Roman', Times, serif;font-weight: bold;">3 COMMENTS</span></span>
  </div>
  <!-- Text Content -->
  <div class="fw-bold mt-2" style="font-family: 'Times New Roman', Times, serif;font-size: 20px;">
    How to keep your teeth always in the best condition
  </div>
  <!-- Text-muted -->
  <div class="text-muted mt-2">
    A small river named Duden flows by their place and supplies it with the necessary regelialia.
  </div>
</div>
  </div>
</div>
<!-- button  -->


<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
  </div>
</div>
<app-end></app-end>