<div class="container  " style="padding-top: 100px;background-color: whitesmoke;margin-top: 200px;padding-bottom: 100px;">
  <h5 style="justify-content: center;text-align: center; padding-top: 100px;">TESTIMONIAL</h5>
<h2 style="justify-content: center;text-align: center; font-family: 'Times New Roman', Times, serif;font-weight: bold;">Happy Customers</h2>

<!-- secont slid row -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="padding-top: 50px;">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-md-4 bg-light">
      
          <div class="row  p-4">
            <i class="fa-solid fa-quote-left text-info fs-1" ></i>
          <p >
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          </p>
          </div>
          <div class="row">
            <div class="col-sm-3 ">
              <span><img src="assets/person/person1.jpg.webp" height="80px" class="rounded-circle"></span>
             
            </div>
            <div class="col-sm-8">
             <p style="font-weight: bold;">ROGER SCOTT</p>
             <p style="font-weight: bold;" class="text-info">MARKETING MANAGER</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 bg-light">
      <div class="row  p-4">
        <i class="fa-solid fa-quote-left text-info fs-1" ></i>
      <p>
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      </p>
      </div>
      <div class="row">
        <div class="col-sm-3 ">
          <span><img src="assets/person/person2.jpg.webp" height="80px" class="rounded-circle"></span>
         
        </div>
        <div class="col-sm-8">
         <p style="font-weight: bold;">ROGER SCOTT</p>
         <p style="font-weight: bold;" class="text-info">MARKETING MANAGER</p>
        </div>
      </div>
        </div>
        <div class="col-md-4 bg-light">
      
          <div class="row  p-4">
            <i class="fa-solid fa-quote-left text-info fs-1" ></i>
          <p>
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          </p>
          </div>
          <div class="row">
            <div class="col-sm-3 ">
              <span><img src="assets/person/person3.jpg.webp" height="80px" class="rounded-circle"></span>
             
            </div>
            <div class="col-sm-8">
             <p style="font-weight: bold;">ROGER SCOTT</p>
             <p style="font-weight: bold;" class="text-info">MARKETING  MANAGER</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-md-4 bg-light">
      
          <div class="row  p-4">
            <i class="fa-solid fa-quote-left text-info fs-1" ></i>
          <p>
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          </p>
          </div>
          <div class="row">
            <div class="col-sm-3 ">
              <span><img src="assets/person/person4.jpg.webp" height="80px" class="rounded-circle"></span>
             
            </div>
            <div class="col-sm-8">
             <p style="font-weight: bold;">ROGER SCOTT</p>
             <p style="font-weight: bold;" class="text-info">MARKETING MANAGER</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 bg-light">
      <div class="row  p-4">
        <i class="fa-solid fa-quote-left text-info fs-1" ></i>
      <p>
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      </p>
      </div>
      <div class="row">
        <div class="col-sm-3 ">
          <span><img src="assets/person/person1.jpg.webp" height="80px" class="rounded-circle"></span>
         
        </div>
        <div class="col-sm-8">
         <p style="font-weight: bold;">ROGER SCOTT</p>
         <p style="font-weight: bold;" class="text-info">MARKETING MANAGER</p>
        </div>
      </div>
        </div>
        <div class="col-md-4 bg-light">
      
          <div class="row  p-4">
            <i class="fa-solid fa-quote-left text-info fs-1" ></i>
          <p>
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          </p>
          </div>
          <div class="row">
            <div class="col-sm-3 ">
              <span><img src="assets/person/person1.jpg.webp" height="80px" class="rounded-circle"></span>
             
            </div>
            <div class="col-sm-8">
             <p style="font-weight: bold;">ROGER SCOTT</p>
             <p style="font-weight: bold;" class="text-info">MARKETING MANAGER</p>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
 
</div>
</div>

